<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<style type="text/css">
			div {
				text-align: center;
			}
			h2 {
				text-align: center;
			}
			
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			td, th {
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px;
			}

			tr:nth-child(even) {
				background-color: #dddddd;
			}
		</style>
	</head>
	
		
  <body>
	<div class="container">
		<a href="https://smart-traffic-control-game.herokuapp.com" class="button">Back</a>
		<h2>Leader Board</h2>
		Sort by number of police cars:
		<a href="https://smart-traffic-control-game.herokuapp.com/leaderboard?m=1" class="button">1</a>
		<a href="https://smart-traffic-control-game.herokuapp.com/leaderboard?m=2" class="button">2</a>
		<a href="https://smart-traffic-control-game.herokuapp.com/leaderboard?m=3" class="button">3</a>
		<a href="https://smart-traffic-control-game.herokuapp.com/leaderboard?m=4" class="button">4</a>
		<a href="https://smart-traffic-control-game.herokuapp.com/leaderboard?m=5" class="button">5</a>
		<table>
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Police Cars (M)</th>
				<th>Score</th>
			</tr>
			<% results.forEach(function(r) { %><tr><td><%= r.number %></td><td><%= r.name %></td><td><%= r.m %></td><td><%= r.score %></td></tr><% }); %>
		</table>
	</div>
  </body>
</html>